<% provide(:title, @product.name) %>
<div class="main-wrapper">
  <!-- LIGHT SECTION -->
  <%= render 'shared/lightsection', product: @product %>
  <!-- MAIN CONTENT SECTION -->
  <section class="mainContent clearfix">
    <div class="container">
      <div class="row singleProduct">
        <div class="col-xs-12">
          <div class="media">
            <div class="media-left productSlider"><%= render 'shared/media_left_productslider', product: @product %></div>
            <div class="media-body"><%= render 'shared/list_inline', product: @product %></div>
          </div>
        </div>
      </div>
      <!-- RELATED PRODUCTS -->
      <div class="row productsContent"><%= render 'shared/related_products' %></div>
    </div>
  </section>
</div>
